body {
    background-image: url('assets/images/taf.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#report-number, #reported-numbers {
    max-width: 600px;
    margin: 0 auto;
}
