/*
body {
    background-image: url('assets/images/taf.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url('/static/assets/images/tafta.webp') no-repeat center center fixed;
} */

body {
    background-color:darkslategrey;
    background-size: cover;
    color: #ffffff; /* White color for readability */
}

#report-number, #reported-numbers {
    max-width: 600px;
    margin: 0 auto;
}

/* Dashboard Page */
.filters label {
    margin-right: 10px;
}
.filters select,
.filters input {
    margin-right: 20px;
}

/* Report Page */
.list-group-item-airtel {
    background-color: red;
    color: white;
}

.list-group-item-orange {
    background-color: orange;
    color: white;
}

.list-group-item-vodacom {
    background-color: blue;
    color: white;
}

.list-group-item:hover {
    opacity: 0.8;
    cursor: pointer;
}
